<div class="info">
    <h1 mat-dialog-title>{{data.resident.name}}</h1>
    <div class="container">
        <div class="column">
            <img class="img" src="https://www.pinclipart.com/picdir/big/184-1844182_image-svg-xml-alien-giving-peace-sign-clipart.png">
        </div>
        <div class="column">
            <h3><b>height: </b>{{data.resident.height}}</h3>
            <h3><b>mass: </b>{{data.resident.mass}}</h3>
            <h3><b>gender: </b>{{data.resident.gender}}</h3>
        </div>
    </div>
</div>
